.header {
  background-color: map-get(v.$colors, "black");
  height: 10vh;
  padding: 20px;
  display: v.$flex;
  align-items: v.$align-center;
  img {
    max-width: v.$full-size;
  }
  color: map-get(v.$colors, "white");
}

.menu {
  width: v.$full-size;
  ul {
    width: v.$full-size;
    display: v.$flex;
    justify-content: v.$space-evenly;
  }
  li {
    color: map-get(v.$colors, white);
    font-size: map-get(v.$font-size, "24");
    cursor: v.$cursor-pointer;
  }
}

.drawer {
  height: v.$full-size;
  @include m.box-sizer(11%, 100%);
  padding: map-get(v.$padding, "20");
  background-color: map-get(v.$colors, "black");
  @include m.flex-column;
  justify-content: v.$space-evenly;
  align-items: v.$align-center;
  ul {
    @include m.flex-column;
    align-items: v.$align-center;
    justify-content: v.$space-between;
    padding-left: 0;
    height: 40%;
  }
  p {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    font-size: map-get(v.$font-size, "12");
    color: map-get(v.$colors, "white");
  }
}
