@use "../../styles/utils/variables" as v;

.menu {
  width: v.$full-size;
  ul {
    width: v.$full-size;
    display: v.$flex;
    justify-content: v.$space-evenly;
  }
  li {
    color: map-get(v.$colors, white);
    font-size: map-get(v.$font-size, "24");
    cursor: v.$cursor-pointer;
  }
}
