@use "./utils/variables" as v;
@use "./utils/mixins" as m;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import "../components/Header/Header";
@import "../components/Menu/Menu";
@import "../components/Drawer/Drawer";
@import "../pages/Home/Home";

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.wrapper {
  max-width: 1024px;
  @include m.box-sizer(100%, 780px);
  margin: auto;
  font-family: "Roboto", sans-serif;
}

.main{
  display: v.$flex;
  height: 100%;
}
