$colors: (
  "white": #ffffff,
  "red": #ff0000,
  "black": #020203,
  "blue": #4ab8ff,
  "yellow": #fdcc0c,
  "purple": #fd5181,
);

$font-size: (
  "48": 48px,
  "26": 26px,
  "24": 24px,
  "20": 20px,
  "15": 15px,
  "14": 14px,
  "12": 12px,
  "7": 7px,
);

$full-size: 100%;
$flex: "flex";
