.barchart-title{
    position: absolute;
    top: 14px;
    left: 20px;
}

.tooltip-activity{
    background-color: map-get(v.$colors, "red");
    font-size: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: map-get(v.$colors, "white");
    border-radius: 5px;
    border: none;
}